<script src="scripts/mainAPP"></script>
<header class="navigation">
    <div style="display: flex; align-items: center;">
        <img src="https://storage.cloud.google.com/ultg-yogyakarta/assets/logo.png?authuser=1" alt="logo" width="50" />
        <h1>ULTG YOGYAKARTA</h1>
    </div>
    <div class="hamburger-menu" onclick="toggleMenu()">
        &#9776; 
    </div>
    <div class="nav" id="navMenu">
        <a href="/register">Daftar Tamu Baru</a>
        <a href="/in">Daftar Kunjungan</a>
        <a href="/out">Keluar Kunjungan</a>
        <a href="/guests">List Daftar Tamu</a>
        <a href="/visits">List Daftar Kunjungan</a>
        
    </div>
</header>
